<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="nav-link">Início</a>
      </li>
      <li class="nav-item">
        <a href="/menu" class="nav-link active">Nosso Cardápio</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Trabalhe conosco</a>
      </li>
    </ul>
  </header>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src={{shrimpImage1}} class="card-img-top" alt={{shrimpTitle1}}>
        <div class="card-body">
          <h5 class="card-title">{{shrimpTitle1}}</h5>
          <p class="card-text">{{shrimpDescription1}}</p>
          <a href="https://wa.me//{{number}}?text=Ol%C3%A1%21+Tenho+interesse+no+prato+{{shrimpTitle1}}" class="btn btn-primary" target="_blank">Pedir agora!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src={{shrimpImage2}} class="card-img-top" alt={{shrimpTitle2}}>
        <div class="card-body">
          <h5 class="card-title">{{shrimpTitle2}}</h5>
          <p class="card-text">{{shrimpDescription2}}</p>
          <a href="https://wa.me//{{number}}?text=Ol%C3%A1%21+Tenho+interesse+no+prato+{{shrimpTitle2}}" class="btn btn-primary" target="_blank">Pedir agora!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src={{shrimpImage3}} class="card-img-top" alt={{shrimpTitle3}}>
        <div class="card-body">
          <h5 class="card-title">{{shrimpTitle3}}</h5>
          <p class="card-text">{{shrimpDescription3}}</p>
          <a href="https://wa.me//{{number}}?text=Ol%C3%A1%21+Tenho+interesse+no+prato+{{shrimpTitle3}}" class="btn btn-primary" target="_blank">Pedir agora!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src={{restaurantCopyImage1}} class="card-img-top" alt={{restaurantCopyTitle1}}>
        <div class="card-body">
          <h5 class="card-title">{{restaurantCopyTitle1}}</h5>
          <p class="card-text">{{restaurantCopyDescription1}}</p>
          <a href="https://wa.me//{{number}}?text=Ol%C3%A1%21+Tenho+interesse+no+prato+{{restaurantCopyTitle1}}" target="_blank" class="btn btn-primary">Pedir agora!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src={{restaurantMenuImage1}} class="card-img-top" alt={{restaurantMenuTitle1}}>
        <div class="card-body">
          <h5 class="card-title">{{restaurantMenuTitle1}}</h5>
          <p class="card-text">{{restaurantMenuDescription1}}</p>
          <a href="https://wa.me//{{number}}?text=Ol%C3%A1%21+Tenho+interesse+no+prato+{{restaurantMenuTitle1}}" target="_blank" class="btn btn-primary">Pedir agora!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src={{restaurantMenuImage2}} class="card-img-top" alt={{restaurantMenuTitle2}}>
        <div class="card-body">
          <h5 class="card-title">{{restaurantMenuTitle2}}</h5>
          <p class="card-text">{{restaurantMenuDescription2}}</p>
          <a href="https://wa.me//{{number}}?text=Ol%C3%A1%21+Tenho+interesse+no+prato+{{restaurantMenuTitle2}}" target="_blank" class="btn btn-primary">Pedir agora!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<footer class="d-flex flex-column align-items-center">
  <p>&copy; {{actualYear}} CASA DO CAMARÃO</p>
  <p>Todos os direitos reservados</p>
</footer>