<!DOCTYPE html>
<html lang="pt-br">
{{> navigation isMenu=true }}
<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#if dishes.length}}
      {{#each dishes as |dish|}}
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="{{dish.imageUrl}}" class="card-img-top" alt="{{dish.title}}" style="object-fit: cover; height: 200px;">
            <div class="card-body">
              <h5 class="card-title">{{dish.title}}</h5>
              <p class="card-text">{{dish.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Cardápio de Inverno ❄️ </small>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="col-12">
        <p class="text-center">Nenhum prato encontrado</p>
      </div>
    {{/if}}
  </div>
</div>